@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #111827;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #030712;
    --foreground: #f9fafb;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #e5e7eb;
  border-radius: 10px;
}
.dark ::-webkit-scrollbar-thumb {
  background: #374151;
}
